<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var taskCollapse = document.getElementById('task-collapse');
                var taskLink = document.querySelector('[data-bs-target="#task-collapse"]');
                console.log()
                taskCollapse.addEventListener('show.bs.collapse', () => {
                    taskLink.querySelector('.bi-chevron-right').classList.add('bi-chevron-down')
                    taskLink.querySelector('.bi-chevron-right').classList.remove('bi-chevron-right');
                })
                taskCollapse.addEventListener('hide.bs.collapse', () => {
                    taskLink.querySelector('.bi-chevron-down').classList.add('bi-chevron-right')
                    taskLink.querySelector('.bi-chevron-down').classList.remove('bi-chevron-down');
                })
            });
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <nav class="navbar navbar-dark bg-dark p-3 shadow navbar-expand-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-controls="collapse-navbar" aria-expanded="false" aria-label="Toggle Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse-navbar">
            <div class="container-fluid d-flex justify-content-between navbar-nav">
                <div class="navbar-brand ms-3"><i class="bi bi-{{ icon }} me-2"></i> {{ title }}</div>
                <form class="d-flex">
                    <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="d-flex wrapper">
        <div class="d-flex bg-dark side-bar flex-column p-3 text-white">

            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{{ path('app_dashboard') }}" class="nav-link text-white"><i class="bi bi-speedometer2 me-2"></i> Dashboard </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_calendar') }}" class="nav-link text-white"><i class="bi bi-calendar me-2"></i> Calendar </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#task-collapse">
                        <i class="bi bi-list-task me-2"></i> Task <i class="bi bi-chevron-right ms-auto"></i>
                    </a>
                    <div class="collapse" id="task-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{{ path('app_task_view') }}" class="link-light text-decoration-none ms-4"><i class="bi bi-columns-gap me-2"></i> View </a></li>
                            <li><a href="{{ path('app_task_create') }}" class="link-light text-decoration-none ms-4"><i class="bi bi-plus-circle-dotted me-2"></i> Create </a></li>
                        </ul>
                    </div>

                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('build/images/Richard_Logo.png') }}" alt="pf" class="rounded-circle me-2">
                    <strong class="me-1">{{ app.user.name }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow p-1" aria-labelledby="dropdownUser">
                    <li><a href="#" class="dropdown-item rounded-1">Settings</a></li>
                    <li><a href="#" class="dropdown-item rounded-1">Account</a></li>
                    <li><a href="{{ path('app_logout') }}" class="dropdown-item rounded-1">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
{% endblock %}

</body>
</html>